.note-card {
    width: 80%;
}

.mat-fab.float-button {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 10;
}

.notes-empty {
    text-align: center;

    mat-icon {
        font-size: 200px;
        color: grey;
    }
}